a {
    text-decoration: none;
    color:  #4aaaa5;
    font-size: x-large;
}

.list {
    list-style: none;
    display: inline;
    position: absolute;
    right: 20%;
    top: 15%;
}
.Projects li{
    
    text-align: left;
    font-display:bold;
    font-size: 26px;
    color: rgb(105, 103, 103);
    font-family: 'Times New Roman', Times, serif;
}
button{
    background: #4aaaa5 ;
    color: white;
    border-radius: 1em;
    width: 220px;
}
.list li {
    display: inline;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    background: white;
}

h2 {
    text-align: center;
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 15px;
}

#name {
    background: #4aaaa5;
    color: white;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 0;
}

#navbarText {
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    font-style: bold;
}
#mainP{

    text-align: left;
    margin-left: 0px;
    margin-top: 50px;
}

.wrapper {
    color: darkgrey;
    background: #f8f9fa;
    align-content: center;
    padding: 20px;
    position: fixed;
    left: 20%;
    right: 20%;
    top: 15%;
    bottom: 5%;
    overflow: auto;
}

#profile {
    width: 300px;
    height: 300px;
    border-radius: 10em;
    margin-right: 0px;
}

#pics {
    width: 300px;
    height: 300px;
    position: relative;
}

.footer {
    background: grey;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    position: fixed;
    color: white;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
}

body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/email-pattern.png");
}

img {
    margin: 10px;
    border: .5px solid lightgrey;
}

p {
    padding: 20px;
    margin-left: 20px;
    margin-right: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;
    color: gray;
}

.container1 {
    margin-top: 10px;
    padding: 20px;
    position: relative;
}

textarea {
    position: relative;
}

ul.twocolumns {
    display: inline-block;
}

ul.twocolumns li {
    float: left;
    list-style: outside none none;
    width: 50%;
}

.container {
    text-align: center;
    color: white;
}

body > .container {
    padding-top: 60px;
}

.floattxt {
    position: absolute;
    text-align: center;
    background-color: #4aaaa5;
    color: white;
    font-size: 20px;
    padding: 20px;
    width: 250px;
    bottom: 10px;
    left: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainparagraph {
    border-top: lightgray solid;
}

.list > li:not(:last-child)::after {
    content: "|";
    margin: 0 .25em;
    color: lightgray;
}


@media screen and (max-width: 768px) {
    .wrapper {
        width: 600px;
        align-content: center;
        position: relative;
    }
  
    .navbar-nav {
        flex-direction: row;
        
    }
    .nav-item {
        padding-left: 0.5em;

    }
}


@media screen and (max-width: 400px){
    .wrapper {
        width: 300px;
        align-content: center;
        position: relative;
    }
  

}